@model BankMVC.Models.AtmViewModel

@{
    ViewBag.Title = "Информация о счете и наличии банкнот";
}

<h2>@ViewBag.Title</h2>

<div>
    <h3>Остаток на счете: @Model.AccountValue</h3>
    <hr/>
    <h4>Содержимое банкомата:</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Banknote100)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banknote100)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banknote500)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banknote500)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banknote1000)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banknote1000)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banknote5000)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banknote5000)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtmValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtmValue)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Домой", "Index")
</p>
